@charset "UTF 8";

* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

body{
    font-family: Arial, Helvetica, sans-serif;
}

h1{
    color: rgb(144, 157, 157);
    text-align: center;
    text-decoration: underline;
    margin-top: 10px;
}

div#msg {
    color: rgb(144, 153, 153);
    text-align: center;
    margin-top: 10px;
    text-decoration: underline;
    font-size: 1.3em;
}

div.container{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-flow: row ;
    align-items: center;
    justify-content: center;
    position: relative;
}


div#fundo{
    background-color: rgba(255, 255, 255, 0.26);
    width: 500px;
    height: 400px;
    position: relative;
    box-shadow: 3px -3px 10px rgba(0, 0, 0, 0.295);
    
}


div#imagen > img{
    background-size: cover;
    background-color: rgb(175, 175, 184);
    background-position: left center;
    border-radius: 50%;
    width: 40%;
    height: 50%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%);

}

